# --- Strictness & Integrity ---
# Fails installation if node version doesn't match 'engines' field in package.json
engine-strict=true

# Ensures package-lock.json is always generated/updated.
package-lock=true

# --- Peer Dependencies ---
# 'true' fails install if peer deps are missing (Strict).
# 'false' warns but continues (Legacy/Flexible).
strict-peer-dependencies=false
auto-install-peers=true

# Disabling the progress bar speeds up installs slightly, especially in CI/CD environments.
progress=false
